<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=9fbed5e9-ea82-466c-bacc-ab3c0090c934.sqlserver.sequelizer.com; Database=db9fbed5e9ea82466cbaccab3c0090c934; User Id=uycevcwfiwhdcygp; Password=TYgcVcJVwz8RzGgscEp4L4eNfsML5YhpN7fMoyJUwsWzgkTUV8eHRtaXUz5Cw7YF;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
